<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Register Test">
    <classes>
      <class name="com.auditoriaEvaluacion.automation.RegisterTest"/>
    </classes>
  </test>
  <test name="Login Test">
    <classes>
      <class name="com.auditoriaEvaluacion.automation.LoginTestUser"/>
    </classes>
  </test>
  <test name="Add Task Test">
    <classes>
      <class name="com.auditoriaEvaluacion.automation.CreateCardTest"/>
    </classes>
  </test>
  <test name="Edit Task Test">
    <classes>
      <class name="com.auditoriaEvaluacion.automation.EditTaskTest"/>
    </classes>
  </test>
  <test name="Delete Task Test">
    <classes>
      <class name="com.auditoriaEvaluacion.automation.DeleteCardTest"/>
    </classes>
  </test>
  <test name="Edit Profile Test">
    <classes>
      <class name="com.auditoriaEvaluacion.automation.EditUserInformationTest"/>
    </classes>
  </test>
  <test name="Edit Profile Password Test">
    <classes>
      <class name="com.auditoriaEvaluacion.automation.EditUserPasswordTest"/>
    </classes>
  </test>
</suite>
